.navbar {
  padding: 5px 20px ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.content {
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container {
  width: 30%;
  max-width: 300px;
  margin-right: 20px;
  border-radius: 10px;
  color: #657786;
}

body {
  background-color: #f8f9fa;
}

#image-profile {
  border-radius: 50px;
  cursor: pointer;
}

.tweet-element {
  border-radius: 10px;
  font-size: 14px;
  margin: 5px 0px;
  border: 0px;
  border-top: 1px solid #ddd;
}

.tweet-element:first-child {
  border-top: 0px!important;
}

.img-fluid {
  max-height: 100px;
}

.btn-tweet {
  border-radius: 30px;
}

.delete-tweet {
  cursor: pointer;
  float: right;  
}

.loading {
  opacity: 0.5;
}

#search-menu-container {
  position: relative;
}

.search-menu {
  position: absolute;
  background: white;
  top: 20px;
  left: 0px;
  width: 300px;
  min-height: 200px;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.search-menu-item {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
  cursor: pointer;
}

.search-menu-item:hover {
  background: #eee;
  transition: background 0.2s;
}

.btn-follow {
  color: #007bff !important;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border-width: 2px;
}

.btn-follow:hover {
  color: white !important;
}

.btn-unfollow {
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border-width: 2px;
}

.btn-unfollow:hover {

}

.tweet-profile {
  margin: 0px 15px 10px 0px;
}

.username-profile {
  font-weight: bold;
}