.navbar {
  padding: 5px 20px ;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.content {
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container {
  width: 30%;
  max-width: 300px;
}

.tweet-element {
  border-radius: 10px;
  font-size: 14px;
  margin: 5px 0px;
}


.btn-tweet {
  border-radius: 30px;
}

.b {
  border: 1px solid red;
}

.b1 {
  border: 1px solid green;
}

.delete-tweet {
  cursor: pointer;
  float: right;  
}

.loading {
  opacity: 0.5;
}
