if tweets
  each tweet in tweets
    div(class="card tweet-element")
      div(class="card-body")
        a(class="card-text" href="/tweets/edit/" + tweet._id )= tweet.content
        img(src="/img/delete.png" alt="delete" class="delete-tweet" style="height: 35px;" tweetid=tweet.id)
