if tweets
  each tweet in tweets
    div(class="card tweet-element")
      div(class="card-body d-flex flex-column")
        div(class="d-flex flex-row justify-content-center")
          img(class="tweet-profile" height="40" width="40" src=tweet.author.avatar)
          span(class=" username-profile flex-fill")= tweet.author.username.toUpperCase()
          if editable && tweet.author._id.toString() == currentUser._id.toString()
            div(class="d-flex flex-row justify-content-center")
              a(class="fas fa-edit pr-2 text-success" href="/tweets/edit/" + tweet._id )
              i(class="fas fa-minus-circle delete-tweet text-danger" tweetid=tweet._id )
        div= tweet.content
